* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


h1 {
    color: red;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
}

p {
    color: blue;
    font-size: 20px;
}


h2 {
    width: 300px;
    height: 300px;
    border: 2px solid red;
    border-top-left-radius: 50px;
    text-align: center;
    cursor: default;
}

#visibility {
    position: relative;
    top: 50px;
}

.display {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 100px;
}

.lorem-container {
    position: relative;
    border: 2px solid green;
    width: 70%;
    height: 400px;

}

.lorem {
    position: absolute;
    right: 10px;
    width: 100px;
    color: red;
    /* bottom: 40px; */
    border: 2px solid red;
    height: fit-content;

}

.navbar {
    position: fixed;
    top: 30px;
}

.top {
    position: fixed;
    bottom: 30px;
}