.container {
    border: 2px solid red;
}

.navbar {
    border: 2px solid blue;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:500px) {
    .navbar ul {
        flex-direction: column;
    }
}

@media screen and (max-width:300px) {
    .navbar ul {
        flex-direction: row;
    }
}